/*Začetna sprememba za 4. nalogo*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
}

#seznam {
  float: right;
  width: 15%;
  height: 300px;
}

#seznam-kanalov {
  height: 150px;
  overflow: auto;
}
#seznam-uporabnikov{
  border: 1px solid black;
  height: 150px;
  overflow: auto;
}

#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 85%;
  margin-bottom: 1em;
  margin-right: 1em;
}
#poslji-gumb {
  width: 10%;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}